{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["lib"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "unicorn/filename-case": "off",
    "camelcase": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
    "semi": "off",
    "padded-blocks": "off",
    "lines-between-class-members": "off",
    "unicorn/no-empty-file": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "comma-dangle": "off",
    "radix": "off",
    "unicorn/prefer-number-properties": "off",
    "quotes": "off",
    "object-curly-spacing": "off",
    "max-params": "off",
    "max-depth": "off",
    "unicorn/prefer-node-protocol": "off",
    "nonblock-statement-body-position": ["error", "below"],
    "no-negated-condition": "off",
    "prefer-promise-reject-errors": "off",
    "no-warning-comments": "off",
    "no-implicit-coercion": "off",
    "no-process-exit": "off",
    "unicorn/no-array-callback-reference": "off",
    "new-cap": "off",
    "unicorn/throw-new-error": "off",
    "unicorn/import-style": "off",
    "complexity": "off",
    "@typescript-eslint/no-var-requires": "warn",
    "unicorn/no-abusive-eslint-disable": "off",
    "brace-style": "error",
    "unicorn/no-process-exit": "off",
    "unicorn/prefer-module": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unicorn/consistent-destructuring": "off"
  },
  "extends": [
    "oclif", 
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
